body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8458B3 !important;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif !important;
    transition: all 1s ease-in-out;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
.messages{
    color: white;
    font-weight: 800;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 4%;
}
#login-form,#sing-up-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}
#post-form{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
#post-form label {
    color: white;
    margin: 5px 0;
}
.element-div{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}
.element-div .btn-sm{
    margin: 0 auto;
    display: block;
}
.element-div span{
    margin: 0 5px;
}
.dark{
    background-color: black !important;
    transition: all 1s ease-in-out;
}